<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Link -->
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="../path/to/flowbite/dist/flowbite.js"></script>
   <!-- Fontawesome Link -->
   <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>CUARTO Paso Sobre FUNCIONES </h1>
    
    <div class="flex flex-col justify-center items-center embed-responsive 2xl">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/j1Z746lff4E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="container mx-auto text-2xl leading-relaxed">
        <p class="">Sea f una función que asigna a los elementos de un primer conjunto (conjunto inicial X) un elemento de un segundo conjunto (conjunto final Y). La función inversa (o función recíproca) de f (denotada por f-1) es aquella que hace el camino inverso, asignando a los elementos de Y elementos de X.</p>
            <div class="flex flex-wrap justify-center">
                <img class="float-right" src="/Img/FInversa/funcion-inversa.jpg" >
            </div>
        <p>Formalmente, diremos que f-1 es la inversa de f si:
        </p>
        <div class="flex flex-wrap justify-center">
            <img class="float-right" src="/Img/FInversa/Finversa.jpg" >
        </div>
        <p>También podemos definir una función inversa a partir de la composición de funciones. f-1 es la inversa de f y f-1 si la composición de f da la función identidad.</p>
        <div class="flex flex-wrap justify-center">
            <img class="float-right" src="/Img/FInversa/funcion-inversa-definicion-composicion-funciones.jpg" >
        </div>
        <p>Para que una función f tenga inversa necesariamente debe ser inyectiva.
            Además, tanto f como f-1 deben de ser biyectivas.</p>
    </div>
        
    
    
</body>
<!-- Previous Button -->
<a href="/TerceraFun" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Previous
</a>

<!-- Next Button -->
<a href="/QuintaFun" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Next
</a>
</html>