<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Link -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../path/to/flowbite/dist/flowbite.js"></script>
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <h1>QUINTO Paso Sobre FUNCIONES </h1>

    <div class="flex flex-col justify-center items-center embed-responsive 2xl">
        <iframe width="1000" height="500" src="https://www.youtube.com/embed/0Cm-q5KH5jY?start=13"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="container mx-auto text-2xl leading-relaxed">
        <p class="">Una función logarítmica es aquella que genéricamente se expresa como f (x) == logax, siendo a la
            base de esta función, que ha de ser positiva y distinta de 1.

            La función logarítmica es la inversa de la función exponencial (ver t35), dado que:

            loga x = b Û ab = x.</p>
        <div class="flex flex-wrap justify-center">
            <img class="float-right h-30 w-96" src="/Img/FLogaritmica/funcion-logaritmica.jpg">
        </div>
        <p>Propiedades de la función logarítmica</p>
        <p>Las propiedades generales de la función logarítmica se deducen a partir de las de su inversa, la función
            exponencial. Así, se tiene que: </p>
            <li>La función logarítmica sólo existe para valores de x positivos, sin incluir el cero. Por tanto, su
                dominio es el intervalo (0,+¥).</li>
            <li>Las imágenes obtenidas de la aplicación de una función logarítmica corresponden a cualquier elemento del
                conjunto de los números reales, luego el recorrido de esta función es R.</li>
            <li>En el punto x = 1, la función logarítmica se anula, ya que loga 1 = 0, en cualquier base.</li>
            <li>La función logarítmica de la base es siempre igual a 1.</li>
            <li>Finalmente, la función logarítmica es continua, y es creciente para a > 1 y decreciente para a < 1.</li> 
    </div>
</body>
<!-- Previous Button -->
<a href="/CuartaFun"
    class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Previous
</a>

<!-- Next Button -->
<a href="/SextaFun"
    class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Next
</a>

</html>