<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Link -->
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="../path/to/flowbite/dist/flowbite.js"></script>
   <!-- Fontawesome Link -->
   <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Primer Paso Sobre Derivadas </h1>
    
    <div class="flex flex-col justify-center items-center embed-responsive 2xl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AzTGmJGIpI8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="text-2xl leading-relaxed">La derivada representa un papel fundamental en las Matemáticas debido a su gran cantidad de aplicaciones en la ciencia, la tecnología o la economía:</p>
        <li> Cálculo de la velocidad y la aceleración instantánea de cualquier objeto en movimiento.</li>
            
        <li>Para la optimización de funciones, cálculo de máximos y mínimos. En procesos productivos es fundamental conocer las condiciones en qué podemos obtener los mayores beneficios</li> 
            
        <li> Construir carreteras de modo que las curvas se puedan tomar de la forma más natural posible.</li>       
    <p>Como muchos de los conceptos matemáticos que estudiamos, el concepto de derivada es fruto de varios siglos de evolución.
        Los problemas típicos que dieron origen al "Cálculo infinitesimal" comenzaron a plantearse en la época clásica de la antigua Grecia (siglo III a.c), pero no se encontraron métodos sistemáticos de resolución hasta 2000 años después.
        En lo que atañe a las derivadas son tres problemas los que la dieron origen:</p>
        
        <li>El cálculo de máximos y mínimos de una función.</li>
        
        <li>El cálculo de la tangente a una curva en un punto.</li>
        
        <li>El cálculo del área encerrada bajo una curva.</li>

</body>
<!-- Previous Button -->
<a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Previous
</a>

<!-- Next Button -->
<a href="/SegundoDev" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Next
</a>
</html>