<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Link -->
   <script src="https://cdn.tailwindcss.com"></script>
   <script src="../path/to/flowbite/dist/flowbite.js"></script>
   <!-- Fontawesome Link -->
   <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Segundo Paso Sobre Derivadas </h1>
    
    <div class="flex flex-col justify-center items-center embed-responsive 2xl">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cP1Ss34Mkz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="text-2xl leading-relaxed">¿Qué es una función trascendente y qué es el argumento?</p>
    <p>
        Las funciones trascendentes son aquellas funcionen que poseen algo llamado “argumento”, dicho argumento es una cantidad numérica o simbólica que hacen que una función obtenga un valor, es decir, el argumento hace que la función se vuelva un valor numérico, sin el argumento la función se convierte en una función vacía, carece de valor.
        
        Para citar un ejemplo, veamos la función coseno ( cos ), el coseno por si mismo no posee valor, necesita un argumento para que éste pueda tener un valor real, vamos agregarle el número 45 a su argumento, entonces tendríamos:
    </p>
        <p class="font-serif text-center">cos(45°)=0.707</p> 
    <p>Aquí vemos que el coseno, ya adquiere un valor. Entonces en conclusión, el 45 es el <a class="font-bold"> argumento del coseno</a>.</p>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7Dsen%28u%29%3D%5Ccos+%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7Dcos%28u%29%3D-sen%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7D%5Ctan+%28u%29%3D%7B%7B%5Csec+%7D%5E%7B2%7D%7D%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7Dcot%28u%29%3D-%7B%7B%5Ccsc+%7D%5E%7B2%7D%7D%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7D%5Csec+%28u%29%3D%5Ctan+%28u%29sec%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    <div class="flex flex-wrap justify-center">
        <img class="" src="https://s0.wp.com/latex.php?latex=%5Cdisplaystyle+%5Cfrac%7Bd%7D%7Bdx%7D%5Ccsc+%28u%29%3D-%5Ccot+%28u%29csc%28u%29%5Cfrac%7Bdu%7D%7Bdx%7D&bg=ffffff&fg=000&s=0&c=20201002" >
    </div>
    

    <!--<div class="flex flex-wrap justify-center">
        <img
        src="/Derivadas/DevTrig.JPG"
        class="p-1 bg-white border rounded max-w-sm"
      />
      </div>-->
</body>

<!-- Previous Button -->
<a href="/PrimerDev" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Previous
</a>

<!-- Next Button -->
<a href="/TercerDev" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Next
</a>
</html>