<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS Link -->
    <script src="https://cdn.tailwindcss.com"></script>
   <!-- Fontawesome Link -->
   <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>SEXTO Paso Sobre Derivadas </h1>
    
    <div class="flex flex-col justify-center items-center embed-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RdxXv3lFjls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p class="text-2xl leading-relaxed">Vamos a suponer que estás familiarizado con la derivada ordinaria del cálculo de una sola variable, {df}/{dx} 
    Me gusta mucho esta notación para la derivada, porque la puedes interpretar como sigue:
        Interpreta dxdxd, x como "un cambio muy pequeño en xxx".
        Interpreta "dfdfd, f" como "un cambio muy pequeño en el valor de salida de fff", donde se entiende que este pequeño cambio es lo que sea que resulte de ese pequeño cambio dxdxd, x en el valor de entrada.
        De hecho, creo que esta idea intuitiva para el símbolo \dfrac{df}{dx} 
        es uno de los puntos más útiles del cálculo de una variable, y cuando realmente lo empieces a sentir en tus huesos, la mayoría de los conceptos alrededor de la derivada comienzan a tener mucho sentido.
        Por ejemplo, cuando aplicas este concepto a la gráfica de fff, puedes interpretar esta "razón" \dfrac{df}{dx} 
        como el desplazamiento vertical/horizontal de la gráfica de fff, que depende del punto donde comenzaste.</p>
        <div class="flex flex-wrap justify-center">
            <img class="float-right h-30 w-96" src="https://cdn.kastatic.org/ka-perseus-images/c959272d34165ff78a7d798b71029b0cd7aff2f8.png">
        </div>
        <p class="text-2xl leading-relaxed">Ninguna de estas derivadas por separado narra la historia completa de cómo cambia nuestra función f(x, y)f(x,y)f, left parenthesis, x, comma, y, right parenthesis cuando sus entradas cambian un poco, así que las llamamos "derivadas parciales". Para enfatizar la diferencia, ya no usamos la letra "ddd" para indicar los pequeños cambios, sino que introducimos el novedoso símbolo \partial∂\partial, para escribir cada derivada parcial como
            ∂x
            ∂f
             etcétera.
        </p>  

</body>
<!-- Previous Button -->
<a href="/CuartoDev" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Previous
</a>

<!-- Next Button -->
<a href="#" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
    Next
</a>
</html>